@media only screen and (min-width: 768px) {
    .ui-content {
	width: 768px !important;
	margin: 0 auto !important;
	position: relative !important;
    }
    .ui-footer {
	max-width: 768px;
	margin: 0 auto;
    }
    BODY {
	xbackground-color: #ccc !important;
    }
}
